@use '../../styles/variables' as *;

.mobileMenu {
  position: fixed;
  top: 96px;
  left: 0;
  right: 0;
  background: $white;
  z-index: 1090;
  padding: 8px 16px;
  border-top: 1px solid rgba($medium-gray, 0.2);
  height: 245px;

  @include respond-to(desktop) {
    display: none;
  }

  .mobileNavList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;

    li {
      a {
        display: block;
        color: $medium-gray;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        line-height: 45px;
        letter-spacing: 0.02em;
        padding: 0;

        &:hover,
        &:active {
          color: $blue;
        }
      }
    }

    .mobilePhone {
      a {
        color: $blue;
        border-bottom: none;
        font-size: 24px;
        font-weight: 700;
        text-transform: none;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 96px; // начинается после хедера
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px); // эффект блюра
  z-index: 1080; // ниже меню (1090) но выше контента
}