@use "../../styles/variables" as *;

.header {
  background-color: $white !important;
  top: 0;
  z-index: 1100;
  box-shadow: none !important;
  height: 96px;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 8px 16px;

    @include respond-to(desktop) {
      padding: 8px 128px;
    }
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 48px;
      width: 160px;
      display: block;

      @include respond-to(desktop) {
        height: 48px;
      }
    }
  }

  .desktopMenu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    gap: 48px;

    @include respond-to(desktop) {
      display: flex;
      width: 348px;
    }

    .navLink {
      color: $medium-gray;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      transition: color 0.2s ease;
      white-space: nowrap;

      &:hover {
        color: $blue;
      }
    }
  }

  .phoneLink {
    display: none;
    color: $blue;
    text-decoration: none;
    white-space: nowrap;
    transition: opacity 0.2s ease;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 1em;

    @include respond-to(desktop) {
      display: block;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .menuButton {
    display: flex;
    width: 48px;
    height: 48px;
    background-color: $blue !important;
    color: $white !important;
    border-radius: 0 !important;
    padding: 0;
    margin: 0;

    @include respond-to(desktop) {
      display: none;
    }
  }
}
